recovery.img
my_heytap/priv-app/Velvet/Velvet.apk
my_heytap/priv-app/GmsCore/GmsCore.apk
my_heytap/app/WebViewGoogle/WebViewGoogle.apk
modem.img
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
vendor/app/OnePlusCamera/OnePlusCamera.apk
my_stock/app/Games/Games.apk
my_stock/del-app/CanvasResources/CanvasResources.apk
