on fs
   setprop ro.boot.product.hardware.sku ${ro.boot.prjname}
   export MY_PRODUCT_SKU_ROOT /my_product/etc/${ro.boot.product.hardware.sku}
   export MY_ODM_SKU_ROOT     /odm/etc/${ro.boot.product.hardware.sku}
on property:ro.product.first_api_level=29
  mount ext4 /my_custom /my_company bind
  mount ext4 /oppo_custom /my_company bind
