##################################################################################
### OPPO All rights reserved.
###
### File: - init.oppo.bsp_debug.rc
### Author: wen.luo@BSP.Kernel.Stability
###
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### 2019-11-10                 Create this file    1.0        bsp debug/tracing
##################################################################################

#for agingtest ftrace
on property:persist.sys.agingtest=1
    write /dev/kmsg "Ftrace Debug:init.oppo.bsp_debug.rc"
    # timer
    chmod 0755 /sys/kernel/debug/tracing
    write /sys/kernel/debug/tracing/events/timer/timer_expire_entry/enable 1
    write /sys/kernel/debug/tracing/events/timer/timer_expire_exit/enable 1
    write /sys/kernel/debug/tracing/events/timer/hrtimer_cancel/enable 1
    write /sys/kernel/debug/tracing/events/timer/hrtimer_expire_entry/enable 1
    write /sys/kernel/debug/tracing/events/timer/hrtimer_expire_exit/enable 1
    write /sys/kernel/debug/tracing/events/timer/hrtimer_init/enable 1
    write /sys/kernel/debug/tracing/events/timer/hrtimer_start/enable 1
    #enable FTRACE for softirq events
    write /sys/kernel/debug/tracing/events/irq/enable 1
    #enble FTRACE for Workqueue events
    write /sys/kernel/debug/tracing/events/workqueue/enable 1
    # schedular
    write /sys/kernel/debug/tracing/events/sched/sched_cpu_hotplug/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_migrate_task/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_pi_setprio/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_switch/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_wakeup/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_wakeup_new/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_isolate/enable 1
    # sound
    write /sys/kernel/debug/tracing/events/asoc/snd_soc_reg_read/enable 1
    write /sys/kernel/debug/tracing/events/asoc/snd_soc_reg_write/enable 1
    # mdp
    write /sys/kernel/debug/tracing/events/mdss/mdp_video_underrun_done/enable 1
    # video
    write /sys/kernel/debug/tracing/events/msm_vidc/enable 1
    # clock
    write /sys/kernel/debug/tracing/events/power/clock_set_rate/enable 1
    write /sys/kernel/debug/tracing/events/power/clock_enable/enable 1
    write /sys/kernel/debug/tracing/events/power/clock_disable/enable 1
    write /sys/kernel/debug/tracing/events/power/cpu_frequency/enable 1
    # regulator
    write /sys/kernel/debug/tracing/events/regulator/enable 1
    # power
    write /sys/kernel/debug/tracing/events/msm_low_power/enable 1
    #thermal
    write /sys/kernel/debug/tracing/events/thermal/thermal_pre_core_offline/enable 1
    write /sys/kernel/debug/tracing/events/thermal/thermal_post_core_offline/enable 1
    write /sys/kernel/debug/tracing/events/thermal/thermal_pre_core_online/enable 1
    write /sys/kernel/debug/tracing/events/thermal/thermal_post_core_online/enable 1
    write /sys/kernel/debug/tracing/events/thermal/thermal_pre_frequency_mit/enable 1
    write /sys/kernel/debug/tracing/events/thermal/thermal_post_frequency_mit/enable 1
    #rmph_send_msg
    write /sys/kernel/debug/tracing/events/rpmh/rpmh_send_msg/enable 1
    #enable aop with timestamps
    write /sys/bus/coresight/devices/coresight-tpdm-swao-0/cmb_msr "33 0x680000"
    write /sys/bus/coresight/devices/coresight-tpdm-swao-0/cmb_msr "48 0xC0"
    write /sys/bus/coresight/devices/coresight-tpdm-swao-0/mcmb_lanes_select 0x4
    write /sys/bus/coresight/devices/coresight-tpdm-swao-0/cmb_mode "1 0"
    write /sys/bus/coresight/devices/coresight-tpdm-swao-0/cmb_trig_ts 1
    write /sys/bus/coresight/devices/coresight-tpdm-swao-0/enable_source 1
    write /sys/bus/coresight/devices/coresight-cti-swao_cti0/map_trigin "4 2"
    write /sys/bus/coresight/devices/coresight-cti-swao_cti0/map_trigout "4 2"
    #storage
    write /sys/kernel/tracing/buffer_size_kb 64000
    write /sys/kernel/debug/tracing/events/scsi/enable 1
    write /sys/kernel/debug/tracing/events/block/enable 1
    write /sys/kernel/debug/tracing/events/ufs/enable 1
    #memory pressure events/oom
    write /sys/kernel/debug/tracing/events/psi/psi_event/enable 1
    write /sys/kernel/debug/tracing/events/psi/psi_window_vmstat/enable 1
    write /sys/kernel/debug/tracing/tracing_on 1
    #subsystem SSR config(open wlan esoc SSR)
    #write /sys/bus/msm_subsys/devices/subsys9/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys10/restart_level "related"

#for agingtest dcc debug
on property:persist.sys.agingtest=1
    start bsp_debug

service bsp_debug /vendor/bin/sh /odm/bin/init.oppo.bsp_debug.sh
    class core
    user shell
    group root system log
    disabled
    oneshot

service bsp_us_dump /vendor/bin/sh /odm/bin/init.oppo.bsp_us_dump.sh
    class core
    user shell
    group root system log
    disabled
    oneshot
