#NV:Key:operator:regionmark:euexcountry:comment

#运营商标志位
00010101:KE-SAFARICOM:SAFARICOM:KE:NULL:NULL
00110100:JP-SOFTBANK:SOFTBANK:JP:NULL:NULL
01000110:ES-MOVISTAR:MOVISTAR:EUEX:ES:NULL
01000111:AU-TELSTRA_PREPAID:TELSTRA_PREPAID:AU:NULL:NULL
01001000:AU-VODAFONE_PREPAID :VODAFONE_PREPAID:AU:NULL:NULL
01001010:FR-ORANGE:ORANGE:EUEX:FR:NULL
01001011:AU-OPTUS_PREPAID:OPTUS_PREPAID:AU:NULL:NULL
01001100:AU-TELSTRA_POSTPAID:TELSTRA_POSTPAID:AU:NULL:NULL
01001101:AU-VODAFONE_POSTPAID:VODAFONE_POSTPAID:AU:NULL:NULL
01001111:AU-OPTUS_POSTPAID:OPTUS_POSTPAID:AU:NULL:NULL
01010011:RO-VODAFONE_EEA:VODAFONE_EEA:EUEX:RO:NULL
01010100:JP-UQMOBILE:UQMOBILE:JP:NULL:NULL
01010111:EU-ORANGE:ORANGE:EUEX:NULL:NULL
01011110:GB-EE:EE:EUEX:GB:NULL
01011111:CH-SWISSCOM:SWISSCOM:EUEX:CH:NULL
01100101:ES-ORANGE:ORANGE:EUEX:ES:NULL
01100111:FR-BOUYGUE:BOUYGUE:EUEX:FR:NULL
01101000:NL-TMOBILE:TMOBILE:EUEX:NL:NULL
01101011:IT-TIM:TIM:EUEX:IT:NULL
01101100:JP-RAKUTEN:RAKUTEN:JP:NULL:NULL
01101101:FR-ORANGE_LITE:ORANGE_LITE:EUEX:FR:NULL
01110000:ES-MOVISTAR_LITE:MOVISTAR_LITE:EUEX:ES:NULL
01110001:IT-TIM_LITE:TIM_LITE:EUEX:IT:NULL
01110011:GB-O2:O2:EUEX:GB:NULL
01110110:JP-OCN:OCN:JP:NULL:NULL
01110111:IT-WIND3:WIND3:EUEX:IT:NULL
01111010:MX-TELCEL:TELCEL:MX:NULL:NULL
01111101:EU-VODAFONE_EEA:VODAFONE_EEA:EUEX:NULL:NULL
01111110:VODAFONE_NONEEA:VODAFONE_NONEEA:NULL:NULL:NULL
10000110:FR-ALTICE:ALTICE:EUEX:FR:NULL
10001000:DE-O2:O2:EUEX:DE:NULL
10001001:JP-KDDI:KDDI:JP:NULL:NULL
10001010:GB:CPW:EUEX:GB:NULL
10001011:JP-YMOBILE:YMOBILE:JP:NULL:NULL
10001110:MX-ATT:ATT:MX:NULL:NULL
10010000:GB-3UK:3UK:EUEX:GB:NULL
10010111:ALLNET:NULL:NULL:NULL:ALLNET
10011000:CMCC:NULL:NULL:NULL:CHINA_MOBILE
10011011:CL-CLARO:CLARO:CL:NULL:NULL
10011100:CO-CLARO:CLARO:CO:NULL:NULL
10000001:ZA-VODACOM:VODACOM:ZA:NULL:NULL
10011101:CN-CT:NULL:NULL:NULL:CHINA_TELECOM
01011000:PL-ORANGE:ORANGE:EUEX:PL:NULL
10000000:ZA-MTN:MTN:ZA:NULL:NULL
10011111:PE-CLARO:CLARO:PE:NULL:NULL
10100000:PA-CLARO:CLARO:PA:NULL:NULL

#区域标志位
00000000:EXPORT:NULL:NULL:NULL:MUTI_COUNTRY
00011011:IN:NULL:IN:NULL:NULL
00011110:AU:NULL:AU:NULL:NULL
00100111:DZ:NULL:DZ:NULL:NULL
00110011:ID:NULL:ID:NULL:NULL
00110111:RU:NULL:RU:NULL:NULL
00111001:TH:NULL:TH:NULL:NULL
00111010:MM:NULL:MM:NULL:NULL
00111011:JP:NULL:JP:NULL:NULL
00111100:VN:NULL:VN:NULL:NULL
00111110:PH:NULL:PH:NULL:NULL
00111111:KH:NULL:KH:NULL:NULL
01000100:EUEX:NULL:EUEX:NULL:EEA_SINGLE
01010001:TR:NULL:EUEX:TR:NULL
01010101:BD:NULL:BD:NULL:NULL
01010110:PK:NULL:PK:NULL:NULL
01011001:NG:NULL:NG:NULL:NULL
01011010:KZ:NULL:KZ:NULL:NULL
01100000:LK:NULL:LK:NULL:NULL
01100001:NP:NULL:NP:NULL:NULL
01100010:AE:NULL:AE:NULL:NULL
01100011:MA:NULL:MA:NULL:NULL
01100100:TN:NULL:TN:NULL:NULL
01110100:KE:NULL:KE:NULL:NULL
01110101:EG:NULL:EG:NULL:NULL
01111011:MX:NULL:MX:NULL:NULL
10000010:HK:NULL:HK:NULL:NULL
10000011:SA:NULL:SA:NULL:NULL
10000101:EU-NONEEA:NULL:EUEX:NULL:NONEEA_SINGLE
10000111:UA:NULL:EUEX:UA:NULL
10001100:EU-EEA-Double:NULL:EUEX:NULL:EEA_DUAL
10001101:EU-NONEEA-Double:NULL:EUEX:NULL:NONEEA_DUAL
10001111:RO:NULL:EUEX:RO:NULL
10011001:ZA:NULL:ZA:NULL:NULL
10011010:LATAM:NULL:LATAM:NULL:NULL

#归一化标志位：
00011010:TWOP:TWOP:TW:NULL:NULL
00000101:NULL:FET:TW:NULL:NULL
00000110:NULL:TWM:TW:NULL:NULL
00111101:NULL:APT:TW:NULL:NULL
00101100:SGOP:SGOP:SG:NULL:NULL
00100100:NULL:SINGTEL:SG:NULL:NULL
00100101:NULL:STARHUB:SG:NULL:NULL
00100110:NULL:M1:SG:NULL:NULL
01101110:NULL:TPG:SG:NULL:NULL
01101111:NULL:MyRepublic:SG:NULL:NULL
00101101:NZOP:NZOP:NZ:NULL:NULL
00101001:NULL:2DEGREES:NZ:NULL:NULL
01111000:NULL:WAREHOUSE:NZ:NULL:NULL
01111001:NULL:SKINNY:NZ:NULL:NULL
00101010:NULL:SPARK:NZ:NULL:NULL
10000100:NULL:VODAFONE_NZ:NZ:NULL:NULL
00111000:MYOP:MYOP:MY:NULL:NULL
01000000:NULL:CELCOM:MY:NULL:NULL
01000001:NULL:MAXIS:MY:NULL:NULL
01000010:NULL:DIGI:MY:NULL:NULL

#realme标志位
10010110:IL:NULL:IL:NULL:NULL
10011110:BR:NULL:BR:NULL:NULL

#一加标志位
10010001:P-US-TMOBILE:TMOBILE:US:NULL:NULL
10010010:P-US-SPRINT:SPRINT:US:NULL:NULL
10010011:P-US-METROPCS:METROPCS:US:NULL:NULL
10010100:P-US-VERIZON:VERIZON:US:NULL:NULL
10010101:P-US-ATT:ATT:US:NULL:NULL